.mapinfo-section {
    margin: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.9);
}

.mapinfo-section h2 {
    text-align: left;
}

.mapinfo-section menu {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3.5rem;
    list-style: none;
    justify-content: space-evenly;
}

.mapinfo-section menu button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #dededc;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mapinfo-section menu button:hover {
    background-color: #0331ad;
    color: #ebe7ef;
}

.mapinfo-section menu button.active {
    background-color: #0b1f46;
    color: #ebe7ef;
}

.info-content {
    padding: 1rem;

}

/*//////////////////////     INPUT-FORM CSS*/
.input-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.input-label-wrapper {
    margin: 2rem;
}

.input-form-container label {
    color: whitesmoke;
    margin: 2rem 2rem;
}

.input-urls {
    width: 100%;
    max-width: 700px;
    padding: 12px;
    margin: 0px;
    border-radius: 40px;
}

.input-btn {
    padding: 8px 16px;
    margin: 2rem;
    width: 200px;
    background-color: rgb(124, 106, 6);;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.input-btn:hover {
    background-color: #cc9a1f;
}
