.content {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    color: white;
    gap: 3rem;
    padding: 8px;
    top: 50%; /* Adjust positioning */
    left: 50%; /* Adjust positioning */
    transform: translate(-50%, -50%); /* Center the content */
    width: 500px;
    transition: height 2s;
    animation: reverse;
}


.content-small {
    height: 40vw;
    bottom: 50vh;
    z-index: 1;
}

.content label {
    margin: 12px;
}

.radios-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;


}

.input-urls {
    width: 100%;
    max-width: 700px;
    padding: 12px;
    margin: 0px;
    border-radius: 40px;
}

.control-btn {
    padding: 8px 16px;
    margin: 8px;
    width: 200px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.control-btn:hover {
    background-color: #003367;
}

/*cursor  coordinates css*/
.cursor-map-controls {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    backdrop-filter: blur(25px);
    padding: 8px;
    width: 200px;
    color: white;
    text-align: center;
}

/*

slider bottom container
*/
.bottom-container {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: height 1.2s;
    border-radius: 8px;

}

.bottom-expanded {
    z-index: 1;
    height: 40vh;
    overflow: hidden;
}

.menu-btn {
    position: absolute;
    top: 2.5rem;
    right: 0;
    padding: 8px 16px;
    background-color: #045b04;
    backdrop-filter: blur(25px);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #164616;
}

.redraw-btn {
    position: absolute;
    top: .5rem;
    left: 2.5rem;
    padding: 8px 16px;
    background-color: #045b04;
    backdrop-filter: blur(25px);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.control-error {
    color: #da2727;
}

.control-error p {
    margin: -10px;
}
.wms-features-tab {
    padding: 0.5rem 1rem;
    height: 200px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #dededc;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    overflow-y: scroll; /* Add overflow-y to enable vertical scrolling */
}


.wms-features-tab.active {
    background-color: #0b1f46;
    color: #ebe7ef;
}
